$color-yellow: #FF9432;
$color-red: #FF5555;
$color-grey: #7E7E7E;
$color-white: #FFFFFF;
$color-blue: #208FBF;

$main-font-size: 16px;
$small-font-size: 14px;
$main-line-height: 16px;
$border-length: 6px;

$spacing-unit-1: 4px;
$spacing-unit-2: 8px;
$spacing-unit-3: 12px;
$spacing-unit-4: 16px;
$spacing-unit-5: 20px;
$spacing-unit-6: 24px;
